*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #cfe3fc;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Arial', sans-serif;
}

header {
    display: block;
    margin: 0;
    padding: 0;
}

.main-title {
    text-align: center;
    font-size: 36px;
    color: #000000;
    margin-bottom: 30px;
}

.section-one {
    padding: 50px;
    color: #333;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.nav-list a {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: rgb(87, 107, 101);
}

.nav-list a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000000;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.nav-list a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-img-language {
    max-width: 60px;
    padding: 12px;
}

.nav-page {
    background: linear-gradient(to bottom, #F7F8F8, #C1CED3);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0 50px;
}


.nav-menu-button {
  display: none;
}

@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .nav-list a {
    margin: 10px 0;
  }
  
  .nav-img-language {
    max-width: 40px;
    padding: 8px;
  }
  
  .nav-page {
    padding: 0 20px;
  }
  .main-title {
    margin-top: 100px;
}
  
}

@media (max-width: 520px) {
  .nav-list {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .nav-list a {
    margin: 10px 0;
  }
  
  .nav-img-language {
    max-width: 30px;
    padding: 6px;
  }
  
  .nav-page {
    padding: 20px 10px;
  }
  
  .main-title {
    margin-top: 80px;
    font-size: 28px;
  }
}


@media (min-width: 520px) and (max-width: 768px) {
  .programming-languages-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .language-text {
    font-size: 16px;
  }
  
  .pagination-controls button {
    font-size: 16px;
  }
}


@media (min-width: 320px) and (max-width: 520px){
  .pagination-controls{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
  }
}


@media only screen and (max-width: 520px) {
  .nav-list {
    display: none;
  }

  .nav-menu-button {
    display: block;
  }

  .modal {
    display: none;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff; 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-list {
  list-style-type: none;
  padding: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  font-size: 24px;
}

.modal-list a {
  text-decoration: none;
  color: #333;
  padding: 20px;
  display: block;
  text-align: center;
  transition: background-color 0.3s ease; 
}

.modal-list a:hover {
  background-color: #f5f5f5;
}


.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    padding-bottom: 100px;
    background-color: #89beff;
}

.resource-list {
    list-style-type: none;
    padding: 0;
}

.resource-list li {
    margin-bottom: 20px;
}

.resource-list a {
    display: block;
    padding: 15px;
    border-radius: 8px;
    color: #0004ff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    transition: background-color 0.3s;
}

.resource-list a:hover {
    background-color: #2980b9;
}

.resource-list q {
    font-weight: bold;
    color: #fefefe;
}

.section-two {
    background-color: #cfe3fc8a;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-two h2 {
    color: #2c3e50;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 41231241;
}

.modal-content-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modalTitle{
  max-width: 100%;
}

.modal-content {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;
    color: #333;
    width: 80%;
    max-width: 100%;
    /* height: 60%; */
    max-height: 100%;
    overflow: auto;
    word-wrap: break-word;
    font-size: 32px;
    display: flex;
    flex-direction: column;
}
.close{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 20px;
}

.close-modal {
    font-size: 32px;
    color: #555;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-modal:hover {
    color: #e74c3c;
}

.modal-button-details {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 40px;
    transition: background-color 0.3s ease;
}


@media (max-width: 520px) {
  .container {
    padding-top: 20px;
    padding-bottom: 60px;
  }
  
  .resource-list a {
    padding: 10px;
    font-size: 20px;
  }
  
  .section-two h2 {
    font-size: 24px;
  }
  
  .modal-content {
    padding: 10px;
    font-size: 24px;
  }
  
  .close {
    margin-right: 20px;
    margin-top: 10px;
  }
  
  .close-modal {
    font-size: 24px;
  }
  
  .modal-button-details {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .main-title {
    margin-top: 130px;
    font-size: 28px;
  }
}







/* Codewars Modal */
.codewars-modal {
    background-color: #F1948A;
}

.codewars-modal .close-modal {
    color: #2C3E50; 
    transition: color 0.3s ease;
}

.codewars-modal .close-modal:hover {
    color: #E74C3C; 
}

.codewars-modal .modal-button-details {
    background-color: #EC7063; 
    color: #ECF0F1; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.codewars-modal .modal-button-details:hover {
    background-color: #D35400; 
}

/* MDN Modal */
.mdn-modal {
    background-color: #85C1E9; 
}

.mdn-modal .close-modal {
    color: #2C3E50; 
    transition: color 0.3s ease;
}

.mdn-modal .close-modal:hover {
    color: #5DADE2; 
}

.mdn-modal .modal-button-details {
    background-color: #5DADE2; 
    color: #ECF0F1; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.mdn-modal .modal-button-details:hover {
    background-color: #3498DB; 
}

/* Stack Overflow Modal */
.stack-modal {
    background-color: #5D8AA8; 
}

.stack-modal .close-modal {
    color: #1F3A4E;
    transition: color 0.3s ease;
}

.stack-modal .close-modal:hover {
    color: #1565C0; 
}

.stack-modal .modal-button-details {
    background-color: #2980B9; 
    color: #ECF0F1; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.stack-modal .modal-button-details:hover {
    background-color: #1F618D; 
}

/* LeetCode Modal */
.leetcode-modal {
    background-color: #C1E1D1;
}

.leetcode-modal .close-modal {
    color: #2E6F5D; 
    transition: color 0.3s ease;
}

.leetcode-modal .close-modal:hover {
    color: #239B56; 
}

.leetcode-modal .modal-button-details {
    background-color: #239B56; 
    color: #ECF0F1; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.leetcode-modal .modal-button-details:hover {
    background-color: #1D8348; 
}




/* W3Schools Modal */
.w3-modal {
    background-color: #FFD700; 
}

.w3-modal .close-modal {
    color: #333; 
    transition: color 0.3s ease;
}

.w3-modal .close-modal:hover {
    color: #FFA500; 
}

.w3-modal .modal-button-details {
    background-color: #FFA500; 
    color: #fff; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.w3-modal .modal-button-details:hover {
    background-color: #FF8C00; 
}

/* Udemy Modal */
.udemy-modal {
    background-color: #8A2BE2; 
}

.udemy-modal .close-modal {
    color: #fff; 
    transition: color 0.3s ease;
}

.udemy-modal .close-modal:hover {
    color: #4B0082; 
}

.udemy-modal .modal-button-details {
    background-color: #4B0082; 
    color: #fff; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.udemy-modal .modal-button-details:hover {
    background-color: #1E90FF; 
}







/* CodePen Modal */
.codepen-modal {
    background-color:wheat;
}

.codepen-modal .close-modal {
    color: #333; 
    transition: color 0.3s ease;
}

.codepen-modal .close-modal:hover {
    color: #1E90FF; 
}

.codepen-modal .modal-button-details {
    background-color: #1E90FF; 
    color: #fff; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.codepen-modal .modal-button-details:hover {
    background-color: #00BFFF; 
}

/* freeCodeCamp Modal */
.fcc-modal {
    background-color: #d3d3d3; 
}

.fcc-modal .close-modal {
    color: #fff; 
    transition: color 0.3s ease;
}

.fcc-modal .close-modal:hover {
    color: #008000; 
}

.fcc-modal .modal-button-details {
    background-color: #008000; 
    color: #fff; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.fcc-modal .modal-button-details:hover {
    background-color: #006400; 
}

/* GitHub Modal */
.github-modal {
    background-color: #181717; 
    color: whitesmoke;
}

.github-modal .close-modal {
    color: #fff;
    transition: color 0.3s ease;
}

.github-modal .close-modal:hover {
    color: #483D8B; 
}

.github-modal .modal-button-details {
    background-color: #483D8B; 
    color: #fff; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
}

.github-modal .modal-button-details:hover {
    background-color: #1E90FF; 
}

.programming-languages-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }


  .programming-frameworks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .language-text {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .language-text:hover {
    transform: scale(1.1);
  }


  .section-three {
    text-align: center;
    margin-top: 50px;
    background-color: #cfe3fc8a;
    padding: 30px;
  }


  .section-four {
    text-align: center;
    margin-top: 50px;
    background-color: #cfe3fc8a;
    padding: 30px;
  }
  


  .additional-content {
    margin-top: 150px;
    text-align: center;
    padding: 30px;
    background-color: #f8f8f859;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative; 
    font-size: 18px;
  }

  .additional-content ul{
    list-style-type: none;
    margin-bottom: 40px;
  }
  
  .additional-content:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -20px; 
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #f8f8f859 transparent transparent;
  }
  
hr {
  margin-top: 100px; 
  opacity: 0.7;
}
  
  .language-text[data-language="HTML"] {
    background-color: #E44D26;
    color: white;
  }
  
  .language-text[data-language="CSS"] {
    background-color: #264de4;
    color: white;
  }
  .language-text[data-language="Python"] {
    background-color: #3776ab;
    color: white;
  }
  
  .language-text[data-language="JavaScript"] {
    background-color: #f0db4f;
    color: black;
  }
  
  .language-text[data-language="Java"] {
    background-color: #007396;
    color: white;
  }
  
  .language-text[data-language="C"] {
    background-color: #a8b9cc;
    color: black;
  }
  
  .language-text[data-language="C++"] {
    background-color: #00599c;
    color: white;
  }
  
  .language-text[data-language="C#"] {
    background-color: #178600;
    color: white;
  }
  
  .language-text[data-language="Swift"] {
    background-color: #ffac45;
    color: black;
  }
  
  .language-text[data-language="TypeScript"] {
    background-color: #3178c6;
    color: white;
  }


  .language-text[data-language="PHP"] {
    background-color: #4F5D95;
    color: white;
  }
  
  .language-text[data-language="Ruby"] {
    background-color: #CC342D;
    color: white;
  }
  
  .language-text[data-language="Go"] {
    background-color: #00ADD8;
    color: white;
  }
  
  .language-text[data-language="Rust"] {
    background-color: #000000;
    color: white;
  }
  
  .language-text[data-language="Objective-C"] {
    background-color: #438eff;
    color: white;
  }
  
  .language-text[data-language="Kotlin"] {
    background-color: #7F52FF;
    color: white;
  }
  
  .language-text[data-language="Dart"] {
    background-color: #0175C2;
    color: white;
  }
  
  .language-text[data-language="Scala"] {
    background-color: #DC322F;
    color: white;
  }
  
  .language-text[data-language="Haskell"] {
    background-color: #5E5086;
    color: white;
  }
  
  .language-text[data-language="Perl"] {
    background-color: #39457E;
    color: white;
  }
  
  .language-text[data-language="Lua"] {
    background-color: #000080;
    color: white;
  }
  
  .language-text[data-language="Shell"] {
    background-color: #89e051;
    color: black;
  }
  .language-text[data-language="HTML"]:hover {
    background-color: #FF7043;
  }
  .language-text[data-language="CSS"]:hover {
    background-color: #4285F4;
  }
  .language-text[data-language="Python"]:hover {
    background-color: #4B8BBE;
  }
  .language-text[data-language="JavaScript"]:hover {
    background-color: #FFD600;
  }
  .language-text[data-language="Java"]:hover {
    background-color: #005cbf;
  }

  .language-text[data-language="C"]:hover {
    background-color: #90A4AE;
  }

  .language-text[data-language="C++"]:hover {
    background-color: #1565C0;
  }

  .language-text[data-language="C#"]:hover {
    background-color: #2E7D32;
  }

  .language-text[data-language="Swift"]:hover {
    background-color: #FF8F00;
  }

  .language-text[data-language="TypeScript"]:hover {
    background-color: #003366;
  }

  .language-text[data-language="PHP"]:hover {
    background-color: #6A7BAF;
  }

  .language-text[data-language="Ruby"]:hover {
    background-color: #992A2A;
  }

  .language-text[data-language="Go"]:hover {
    background-color: #008CBA;
  }

  .language-text[data-language="Rust"]:hover {
    background-color: #434343;
  }

  .language-text[data-language="Objective-C"]:hover {
    background-color: #2979FF;
  }

  .language-text[data-language="Kotlin"]:hover {
    background-color: #6E45E2;
  }

  .language-text[data-language="Dart"]:hover {
    background-color: #00579C;
  }

  .language-text[data-language="Scala"]:hover {
    background-color: #D73835;
  }

  .language-text[data-language="Haskell"]:hover {
    background-color: #513C69;
  }

  .language-text[data-language="Perl"]:hover {
    background-color: #314671;
  }

  .language-text[data-language="Lua"]:hover {
    background-color: #0000B3;
  }

  .language-text[data-language="Shell"]:hover {
    background-color: #B4CCB9;
  }




  .language-text[data-language="MATLAB"] {
    background-color: #0076A8;
    color: white;
  }
  
  .language-text[data-language="R"] {
    background-color: #276DC3;
    color: white;
  }
  
  .language-text[data-language="Groovy"] {
    background-color: #4298B8;
    color: white;
  }
  
  .language-text[data-language="SQL"] {
    background-color: #CC2929;
    color: white;
  }
  
  .language-text[data-language="Ada"] {
    background-color: #02f88c;
    color: black;
  }
  
  .language-text[data-language="Fortran"] {
    background-color: #4D41B1;
    color: white;
  }
  
  .language-text[data-language="COBOL"] {
    background-color: #41849E;
    color: white;
  }
  
  .language-text[data-language="VBScript"] {
    background-color: #3E6D8E;
    color: white;
  }
  
  .language-text[data-language="PowerShell"] {
    background-color: #012456;
    color: white;
  }
  
  .language-text[data-language="Clojure"] {
    background-color: #5881d8;
    color: white;
  }
  
  .language-text[data-language="Erlang"] {
    background-color: #B83998;
    color: white;
  }
  
  .language-text[data-language="F#"] {
    background-color: #1E4F36;
    color: white;
  }
  
  .language-text[data-language="OCaml"] {
    background-color: #3E5053;
    color: white;
  }
  
  .language-text[data-language="Scheme"] {
    background-color: #1E4A81;
    color: white;
  }
  
  .language-text[data-language="Smalltalk"] {
    background-color: #59606D;
    color: white;
  }
  
  .language-text[data-language="Prolog"] {
    background-color: #74283C;
    color: white;
  }
  
  .language-text[data-language="Racket"] {
    background-color: #22228F;
    color: white;
  }
  
  .language-text[data-language="Elixir"] {
    background-color: #4B275F;
    color: white;
  }
  
  .language-text[data-language="Julia"] {
    background-color: #9558B2;
    color: white;
  }
  
  .language-text[data-language="Hack"] {
    background-color: #878787;
    color: white;
  }
  
  .language-text[data-language="Objective-J"] {
    background-color: #3D3D3D;
    color: white;
  }
  
  .language-text[data-language="ActionScript"] {
    background-color: #F27500;
    color: white;
  }
  
  .language-text[data-language="D"] {
    background-color: #ba595e;
    color: white;
  }
  
  .language-text[data-language="MATLAB"]:hover {
    background-color: #00A2FF;
  }
  
  .language-text[data-language="R"]:hover {
    background-color: #125AC4;
  }
  
  .language-text[data-language="Groovy"]:hover {
    background-color: #60B9CC;
  }
  
  .language-text[data-language="SQL"]:hover {
    background-color: #FF3333;
  }
  
  .language-text[data-language="Ada"]:hover {
    background-color: #15FFA3;
  }
  
  .language-text[data-language="Fortran"]:hover {
    background-color: #655DD6;
  }
  
  .language-text[data-language="COBOL"]:hover {
    background-color: #4A9DB8;
  }
  
  .language-text[data-language="VBScript"]:hover {
    background-color: #5A8BA6;
  }
  
  .language-text[data-language="PowerShell"]:hover {
    background-color: #00317C;
  }
  
  .language-text[data-language="Clojure"]:hover {
    background-color: #7B9AD1;
  }
  
  .language-text[data-language="Erlang"]:hover {
    background-color: #D95DA4;
  }
  
  .language-text[data-language="F#"]:hover {
    background-color: #3A725F;
  }
  
  .language-text[data-language="OCaml"]:hover {
    background-color: #5F7174;
  }
  
  .language-text[data-language="Scheme"]:hover {
    background-color: #215EB5;
  }
  
  .language-text[data-language="Smalltalk"]:hover {
    background-color: #7A8390;
  }
  
  .language-text[data-language="Prolog"]:hover {
    background-color: #9E4461;
  }
  
  .language-text[data-language="Racket"]:hover {
    background-color: #3334A1;
  }
  
  .language-text[data-language="Elixir"]:hover {
    background-color: #664078;
  }
  
  .language-text[data-language="Julia"]:hover {
    background-color: #AE75CA;
  }
  
  .language-text[data-language="Hack"]:hover {
    background-color: #9C9C9C;
  }
  
  .language-text[data-language="Objective-J"]:hover {
    background-color: #545454;
  }
  
  .language-text[data-language="ActionScript"]:hover {
    background-color: #FF6D00;
  }
  
  .language-text[data-language="D"]:hover {
    background-color: #CF6B70;
  }
  

  .language-text[data-language="Tcl"] {
    background-color: #FFD700;
    color: black;
}

.language-text[data-language="Korn Shell"] {
    background-color: #4EAA25;
    color: white;
}

.language-text[data-language="Bash"] {
    background-color: #4EAA25;
    color: white;
}

.language-text[data-language="J"] {
    background-color: #9EEDFF;
    color: black;
}

.language-text[data-language="Awk"] {
    background-color: #FFD700;
    color: black;
}

.language-text[data-language="Vala"] {
    background-color: #8F7E45;
    color: white;
}

.language-text[data-language="Haxe"] {
    background-color: #DF7900;
    color: white;
}

.language-text[data-language="Verilog"] {
    background-color: #2364AA;
    color: white;
}

.language-text[data-language="Basic"] {
    background-color: #8E7CC3;
    color: white;
}

.language-text[data-language="ABAP"] {
    background-color: #E85625;
    color: white;
}

.language-text[data-language="OpenCL"] {
    background-color: #224192;
    color: white;
}

.language-text[data-language="HCL"] {
    background-color: #0082CC;
    color: white;
}

.language-text[data-language="Apex"] {
    background-color: #0080FF;
    color: white;
}

.language-text[data-language="Batch"] {
    background-color: #4D4D4D;
    color: white;
}

.language-text[data-language="Lisp"] {
    background-color: #C06B88;
    color: white;
}

.language-text[data-language="Pascal"] {
    background-color: #E3F171;
    color: black;
}

.language-text[data-language="Forth"] {
    background-color: #341C1C;
    color: white;
}

.language-text[data-language="Rexx"] {
    background-color: #007AA5;
    color: white;
}

.language-text[data-language="IDL"] {
    background-color: #A6A6D2;
    color: black;
}

.language-text[data-language="PostScript"] {
    background-color: #DA291C;
    color: white;
}

.language-text[data-language="Eiffel"] {
    background-color: #946D99;
    color: white;
}

.language-text[data-language="Modula-2"] {
    background-color: #F6007A;
    color: white;
}

.language-text[data-language="PL/I"] {
    background-color: #CC679D;
    color: white;
}

.language-text[data-language="COOL"] {
    background-color: #77B5FE;
    color: black;
}

.language-text[data-language="MUMPS"] {
    background-color: #405F61;
    color: white;
}

.language-text[data-language="Logo"] {
    background-color: #119900;
    color: white;
}

.language-text[data-language="Scratch"] {
    background-color: #5A8DFF;
    color: white;
}

.language-text[data-language="SAS"] {
    background-color: #B34936;
    color: white;
}

.language-text[data-language="FoxPro"] {
    background-color: #6781F2;
    color: white;
}

.language-text[data-language="LabVIEW"] {
    background-color: #FFD100;
    color: black;
}

.language-text[data-language="Fantom"] {
    background-color: #14253E;
    color: white;
}

.language-text[data-language="Ladder Logic"] {
    background-color: #AC7D10;
    color: white;
}

.language-text[data-language="Red"] {
    background-color: #FF0000;
    color: white;
}

.language-text[data-language="FORTRAN II"] {
    background-color: #333333;
    color: white;
}



.language-text[data-language="Tcl"]:hover {
  background-color: #FFECB3;
}

.language-text[data-language="Korn Shell"]:hover {
  background-color: #6CAF52;
}

.language-text[data-language="Bash"]:hover {
  background-color: #6CAF52;
}

.language-text[data-language="J"]:hover {
  background-color: #B3F0FF;
}

.language-text[data-language="Awk"]:hover {
  background-color: #FFECB3;
}

.language-text[data-language="Vala"]:hover {
  background-color: #B8A77A;
}

.language-text[data-language="Haxe"]:hover {
  background-color: #FF8C33;
}

.language-text[data-language="Verilog"]:hover {
  background-color: #5983C1;
}

.language-text[data-language="Basic"]:hover {
  background-color: #B4A3D7;
}

.language-text[data-language="ABAP"]:hover {
  background-color: #FF8166;
}

.language-text[data-language="OpenCL"]:hover {
  background-color: #4364A5;
}

.language-text[data-language="HCL"]:hover {
  background-color: #00A5FF;
}

.language-text[data-language="Apex"]:hover {
  background-color: #0066CC;
}

.language-text[data-language="Batch"]:hover {
  background-color: #666666;
}

.language-text[data-language="Lisp"]:hover {
  background-color: #D48EAB;
}

.language-text[data-language="Pascal"]:hover {
  background-color: #FFF191;
}

.language-text[data-language="Forth"]:hover {
  background-color: #4C2E2E;
}

.language-text[data-language="Rexx"]:hover {
  background-color: #0088CC;
}

.language-text[data-language="IDL"]:hover {
  background-color: #C2C2E6;
}

.language-text[data-language="PostScript"]:hover {
  background-color: #E04E3F;
}

.language-text[data-language="Eiffel"]:hover {
  background-color: #B18EAF;
}

.language-text[data-language="Modula-2"]:hover {
  background-color: #FF3385;
}

.language-text[data-language="PL/I"]:hover {
  background-color: #D470A8;
}

.language-text[data-language="COOL"]:hover {
  background-color: #99C2FF;
}

.language-text[data-language="MUMPS"]:hover {
  background-color: #66747F;
}

.language-text[data-language="Logo"]:hover {
  background-color: #00CC00;
}

.language-text[data-language="Scratch"]:hover {
  background-color: #7FB3FF;
}

.language-text[data-language="SAS"]:hover {
  background-color: #D96C59;
}

.language-text[data-language="FoxPro"]:hover {
  background-color: #8494F4;
}

.language-text[data-language="LabVIEW"]:hover {
  background-color: #FFDB58;
}

.language-text[data-language="Fantom"]:hover {
  background-color: #1D364E;
}

.language-text[data-language="Ladder Logic"]:hover {
  background-color: #D3A014;
}

.language-text[data-language="Red"]:hover {
  background-color: #FF3333;
}

.language-text[data-language="FORTRAN II"]:hover {
  background-color: #4D4D4D;
}


 /* Pagination Styles */
.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.pagination-controls button {
  background-color: #2196F3; 
  color: white;
  border: 1px solid #2196F3; 
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.pagination-controls button:hover {
  background-color: #1565C0; 
  border-color: #1565C0; 
}

.pagination-controls button.active {
  background-color: #0D47A1; 
  border-color: #0D47A1;
}

.pagination-controls button {
  transition: transform 0.2s ease-in-out;
}

.pagination-controls button:hover {
  transform: scale(1.05); 
}

.pagination-controls button.active {
  transform: scale(1.1); 
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #9cc8e6;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9;
}


@media only screen and (max-width: 540px) {
  .pagination-controls {
    flex-direction: column;
    align-items: center;
  }

  .pagination-controls button {
    margin: 4px 0;
    width: 100%;
  }
}