*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #dedede, #d5e6e8);
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Arial', sans-serif;
}

header {
    display: block;
    margin: 0;
    padding: 0;
}

.main-title {
    text-align: center;
    font-size: 36px;
    color: #000000;
    margin-bottom: 30px;
}

.section-one {
    padding: 50px;
    color: #333;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.nav-list a {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: rgb(87, 107, 101);
}

.nav-list a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000000;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.nav-list a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-img-language {
    max-width: 60px;
    padding: 12px;
}

.nav-page {
    background: linear-gradient(to bottom, #F7F8F8, #C1CED3);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0 50px;
}

.container {
    width: 1158px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    padding-bottom: 100px;
    background-color: rgb(201, 200, 200);
}

.resource-list {
    list-style-type: none;
    padding: 0;
}

.resource-list li {
    margin-bottom: 20px;
}

.resource-list a {
    display: block;
    padding: 15px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.resource-list a:hover {
    background-color: #2980b9;
}

.resource-list q {
    font-weight: bold;
    color: #fefefe;
}

.section-two {
    background-color: #afb7b9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-two h2 {
    color: #2c3e50;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 41231241;
}

.modal-content-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;
    color: #333;
    width: 80%;
    max-width: 100%;
    height: 60%;
    max-height: 100%;
    overflow: auto;
    word-wrap: break-word;
    font-size: 32px;
    display: flex;
    flex-direction: column;
}
.close{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 20px;
}

.close-modal {
    font-size: 32px;
    color: #555;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-modal:hover {
    color: #e74c3c;
}

.modal-button-details {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    transition: background-color 0.3s ease;
}




/* Codewars Modal */
.codewars-modal {
    background-color: #F1948A;
}

.codewars-modal .close-modal {
    color: #2C3E50; 
    transition: color 0.3s ease;
}

.codewars-modal .close-modal:hover {
    color: #E74C3C; 
}

.codewars-modal .modal-button-details {
    background-color: #EC7063; 
    color: #ECF0F1; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.codewars-modal .modal-button-details:hover {
    background-color: #D35400; 
}

/* MDN Modal */
.mdn-modal {
    background-color: #85C1E9; 
}

.mdn-modal .close-modal {
    color: #2C3E50; 
    transition: color 0.3s ease;
}

.mdn-modal .close-modal:hover {
    color: #5DADE2; 
}

.mdn-modal .modal-button-details {
    background-color: #5DADE2; 
    color: #ECF0F1; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.mdn-modal .modal-button-details:hover {
    background-color: #3498DB; 
}

/* Stack Overflow Modal */
.stack-modal {
    background-color: #5D8AA8; 
}

.stack-modal .close-modal {
    color: #1F3A4E;
    transition: color 0.3s ease;
}

.stack-modal .close-modal:hover {
    color: #1565C0; 
}

.stack-modal .modal-button-details {
    background-color: #2980B9; 
    color: #ECF0F1; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.stack-modal .modal-button-details:hover {
    background-color: #1F618D; 
}

/* LeetCode Modal */
.leetcode-modal {
    background-color: #C1E1D1;
}

.leetcode-modal .close-modal {
    color: #2E6F5D; 
    transition: color 0.3s ease;
}

.leetcode-modal .close-modal:hover {
    color: #239B56; 
}

.leetcode-modal .modal-button-details {
    background-color: #239B56; 
    color: #ECF0F1; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.leetcode-modal .modal-button-details:hover {
    background-color: #1D8348; 
}




/* W3Schools Modal */
.w3-modal {
    background-color: #FFD700; 
}

.w3-modal .close-modal {
    color: #333; 
    transition: color 0.3s ease;
}

.w3-modal .close-modal:hover {
    color: #FFA500; 
}

.w3-modal .modal-button-details {
    background-color: #FFA500; 
    color: #fff; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.w3-modal .modal-button-details:hover {
    background-color: #FF8C00; 
}

/* Udemy Modal */
.udemy-modal {
    background-color: #8A2BE2; 
}

.udemy-modal .close-modal {
    color: #fff; 
    transition: color 0.3s ease;
}

.udemy-modal .close-modal:hover {
    color: #4B0082; 
}

.udemy-modal .modal-button-details {
    background-color: #4B0082; 
    color: #fff; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.udemy-modal .modal-button-details:hover {
    background-color: #1E90FF; 
}







/* CodePen Modal */
.codepen-modal {
    background-color:wheat;
}

.codepen-modal .close-modal {
    color: #333; 
    transition: color 0.3s ease;
}

.codepen-modal .close-modal:hover {
    color: #1E90FF; 
}

.codepen-modal .modal-button-details {
    background-color: #1E90FF; 
    color: #fff; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.codepen-modal .modal-button-details:hover {
    background-color: #00BFFF; 
}

/* freeCodeCamp Modal */
.fcc-modal {
    background-color: #d3d3d3; 
}

.fcc-modal .close-modal {
    color: #fff; 
    transition: color 0.3s ease;
}

.fcc-modal .close-modal:hover {
    color: #008000; 
}

.fcc-modal .modal-button-details {
    background-color: #008000; 
    color: #fff; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.fcc-modal .modal-button-details:hover {
    background-color: #006400; 
}

/* GitHub Modal */
.github-modal {
    background-color: #181717; 
    color: whitesmoke;
}

.github-modal .close-modal {
    color: #fff;
    transition: color 0.3s ease;
}

.github-modal .close-modal:hover {
    color: #483D8B; 
}

.github-modal .modal-button-details {
    background-color: #483D8B; 
    color: #fff; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
}

.github-modal .modal-button-details:hover {
    background-color: #1E90FF; 
}

.programming-languages-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .language-text {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .language-text:hover {
    transform: scale(1.1);
  }


  .section-three {
    text-align: center;
    margin-top: 100px;
    background-color: #ceced2;
    padding: 30px;
  }
  

  
  
  .language-text[data-language="HTML"] {
    background-color: #E44D26;
    color: white;
  }
  
  .language-text[data-language="CSS"] {
    background-color: #264de4;
    color: white;
  }
  .language-text[data-language="Python"] {
    background-color: #3776ab;
    color: white;
  }
  
  .language-text[data-language="JavaScript"] {
    background-color: #f0db4f;
    color: black;
  }
  
  .language-text[data-language="Java"] {
    background-color: #007396;
    color: white;
  }
  
  .language-text[data-language="C"] {
    background-color: #a8b9cc;
    color: black;
  }
  
  .language-text[data-language="C++"] {
    background-color: #00599c;
    color: white;
  }
  
  .language-text[data-language="C#"] {
    background-color: #178600;
    color: white;
  }
  
  .language-text[data-language="Swift"] {
    background-color: #ffac45;
    color: black;
  }
  
  .language-text[data-language="TypeScript"] {
    background-color: #3178c6;
    color: white;
  }


  .language-text[data-language="PHP"] {
    background-color: #4F5D95;
    color: white;
  }
  
  .language-text[data-language="Ruby"] {
    background-color: #CC342D;
    color: white;
  }
  
  .language-text[data-language="Go"] {
    background-color: #00ADD8;
    color: white;
  }
  
  .language-text[data-language="Rust"] {
    background-color: #000000;
    color: white;
  }
  
  .language-text[data-language="Objective-C"] {
    background-color: #438eff;
    color: white;
  }
  
  .language-text[data-language="Kotlin"] {
    background-color: #7F52FF;
    color: white;
  }
  
  .language-text[data-language="Dart"] {
    background-color: #0175C2;
    color: white;
  }
  
  .language-text[data-language="Scala"] {
    background-color: #DC322F;
    color: white;
  }
  
  .language-text[data-language="Haskell"] {
    background-color: #5E5086;
    color: white;
  }
  
  .language-text[data-language="Perl"] {
    background-color: #39457E;
    color: white;
  }
  
  .language-text[data-language="Lua"] {
    background-color: #000080;
    color: white;
  }
  
  .language-text[data-language="Shell"] {
    background-color: #89e051;
    color: black;
  }
  .language-text[data-language="HTML"]:hover {
    background-color: #FF7043;
  }
  .language-text[data-language="CSS"]:hover {
    background-color: #4285F4;
  }
  .language-text[data-language="Python"]:hover {
    background-color: #4B8BBE;
  }
  .language-text[data-language="JavaScript"]:hover {
    background-color: #FFD600;
  }
  .language-text[data-language="Java"]:hover {
    background-color: #005cbf;
  }

  .language-text[data-language="C"]:hover {
    background-color: #90A4AE;
  }

  .language-text[data-language="C++"]:hover {
    background-color: #1565C0;
  }

  .language-text[data-language="C#"]:hover {
    background-color: #2E7D32;
  }

  .language-text[data-language="Swift"]:hover {
    background-color: #FF8F00;
  }

  .language-text[data-language="TypeScript"]:hover {
    background-color: #003366;
  }

  .language-text[data-language="PHP"]:hover {
    background-color: #6A7BAF;
  }

  .language-text[data-language="Ruby"]:hover {
    background-color: #992A2A;
  }

  .language-text[data-language="Go"]:hover {
    background-color: #008CBA;
  }

  .language-text[data-language="Rust"]:hover {
    background-color: #434343;
  }

  .language-text[data-language="Objective-C"]:hover {
    background-color: #2979FF;
  }

  .language-text[data-language="Kotlin"]:hover {
    background-color: #6E45E2;
  }

  .language-text[data-language="Dart"]:hover {
    background-color: #00579C;
  }

  .language-text[data-language="Scala"]:hover {
    background-color: #D73835;
  }

  .language-text[data-language="Haskell"]:hover {
    background-color: #513C69;
  }

  .language-text[data-language="Perl"]:hover {
    background-color: #314671;
  }

  .language-text[data-language="Lua"]:hover {
    background-color: #0000B3;
  }

  .language-text[data-language="Shell"]:hover {
    background-color: #B4CCB9;
  }




 /* Pagination Styles */
.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.pagination-controls button {
  background-color: #2196F3; /* Змінений колір */
  color: white;
  border: 1px solid #2196F3; /* Змінений колір */
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.pagination-controls button:hover {
  background-color: #1565C0; /* Інший колір при hover */
  border-color: #1565C0; /* Інший колір при hover */
}

.pagination-controls button.active {
  background-color: #0D47A1; /* Інший колір для активної сторінки */
  border-color: #0D47A1; /* Інший колір для активної сторінки */
}

/* Add animation effect to the buttons */
.pagination-controls button {
  transition: transform 0.2s ease-in-out;
}

.pagination-controls button:hover {
  transform: scale(1.05); /* Збільшуємо розмір при hover */
}

.pagination-controls button.active {
  transform: scale(1.1); /* Збільшуємо розмір для активної сторінки */
}
